/** Base Input Styles **/
.default-input-wrapper,
.date-container {
  @apply relative w-full;
}

.default-input-wrapper > input,
.default-input-wrapper > textarea,
.date-container > input {
  @apply relative appearance-none w-full px-input outline-none text-sm rounded-md 
         bg-background/5 border-foreground/15 border backdrop-blur-[2px] 
         transition-colors duration-300 ease-in-out;
}

.default-input-wrapper > input,
.date-container > input {
  @apply h-input-height pt-3;
}

.default-input-wrapper > textarea {
  @apply h-20 min-h-input-height pt-4 max-h-36;
}

/* Hover and Focus States */
.default-input-wrapper > input:hover,
.default-input-wrapper > textarea:hover,
.date-container > input:hover {
  @apply bg-foreground/5;
}

.default-input-wrapper > input:focus,
.default-input-wrapper > textarea:focus,
.date-container > input:focus {
  @apply bg-foreground/5 border-opacity-25;
}

.default-input-not-valid {
  @apply !border-rose-500/50 border;
}

/** Input Title Animations **/
.default-input-wrapper .default-input-title {
  @apply font-normal absolute left-0 z-10 cursor-text pointer-events-none px-3 text-right overflow-hidden whitespace-nowrap truncate;
  @apply text-[13px] top-[21px] leading-[100%] transform -translate-y-1/2;
  @apply transition-all duration-100 ease-in-out;
}

/* Title Movement States */
.default-input-wrapper > input:focus + .default-input-title,
.default-input-wrapper > input.dirty + .default-input-title,
.default-input-wrapper > input:not(:placeholder-shown) + .default-input-title,
.default-input-wrapper > textarea:focus + .default-input-title,
.default-input-wrapper > textarea.dirty + .default-input-title,
.default-input-wrapper
  > textarea:not(:placeholder-shown)
  + .default-input-title,
.has-value > .default-input-title {
  @apply top-3 text-xs;
}

/** Select Component Styles **/
.filter__control {
  @apply relative appearance-none w-full px-input outline-none !min-h-input-height text-sm rounded-md 
         bg-background/5 border-foreground/15 border backdrop-blur-[2px] 
         transition-all duration-300 ease-in-out;
}

.filter__control:hover {
  @apply bg-foreground/5;
}

.filter__control--is-focused {
  @apply bg-foreground/5 border-opacity-25;
}

.filter__control .filter__value-container {
  @apply pt-3;
}

.select-not-valid .filter__control {
  @apply !border-rose-500/50 border;
}

/* Select Menu Styles */
.filter__menu {
  @apply bg-foreground/[0.01] backdrop-blur-xl z-20 px-1 border rounded-md mt-1;
}

.filter__menu-portal {
  @apply z-[200] !important;
}

.filter__option {
  @apply my-1 rounded-md !text-xs text-foreground/70 font-light px-2.5 py-1.5;
}

.filter__option--is-selected {
  @apply bg-foreground/5 text-foreground/80;
}

.filter__option--is-focused {
  @apply bg-foreground/10;
}

/* Multi-select Styles */
.filter__multi-value {
  @apply bg-foreground/10 gap-1 pl-1 h-min text-2xs rounded-md leading-none;
}

.filter__value-container--is-multi {
  @apply gap-1 mt-1 leading-none !items-start;
}

.filter__multi-value__label {
  @apply content-center py-0.5 leading-none pt-1;
}

.filter__multi-value__remove {
  @apply bg-foreground/5 hover:bg-foreground/10 transition-colors px-1 py-0.5 rounded-r-md;
}

/** Loading State Styles **/
.default-input-loading {
  @apply h-input-height rounded-md bg-foreground/5 transition-all absolute top-0 left-0 w-full text-center align-middle overflow-hidden;
}

.default-input-loading:after {
  @apply !h-input-height bg-gradient-to-r from-background/0 to-background/0 via-foreground/10 absolute top-0 z-[1];
  content: "";
  width: 150%;
  animation: slide 2s infinite ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(200%);
  }
}

/** Date Picker Styles **/
.rmdp-wrapper {
  @apply bg-foreground/[0.01] dark:bg-foreground/[0.03] !text-foreground rounded-md backdrop-blur-lg border;
}

.rmdp-header-values {
  @apply text-foreground;
}

.rmdp-arrow {
  @apply border self-center object-center border-foreground/50 p-[3px] mb-1;
  border-width: 0 1px 1px 0;
}

.rmdp-shadow {
  @apply !shadow-none;
}

.rmdp-week-day {
  @apply bg-foreground/5 dark:bg-foreground/10 first:rounded-l-md last:rounded-r-md text-foreground/80 font-normal;
}

.rmdp-day {
  @apply text-foreground;
}

.rmdp-day.rmdp-today span {
  @apply bg-foreground/5 text-foreground border border-foreground/20;
}

.rmdp-day:not(.rmdp-day-hidden) span:hover {
  @apply bg-foreground/10 text-foreground;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  @apply bg-foreground/90 text-background hover:bg-foreground !shadow-none;
}

.rmdp-month-picker,
.rmdp-year-picker {
  @apply bg-background/5;
}

.rmdp-day-picker[data-active="false"] {
  @apply opacity-0;
}

/** Utilities **/
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  @apply hidden;
}
