/** ---------- Input Styles ---------- **/
.default-input-wrapper,
.date-container {
  @apply relative;
}

.default-input-wrapper > input,
.date-container > input {
  @apply relative appearance-none w-full px-input outline-none h-11 pt-3 text-sm rounded-md bg-background/5 border-foreground/15 border backdrop-blur-[2px] transition-colors duration-300 ease-in-out;
}

.default-input-wrapper > input:hover,
.date-container > input:hover {
  @apply bg-foreground/5;
}

.default-input-wrapper > input:focus,
.date-container > input:focus {
  @apply bg-foreground/5 border-opacity-25;
}

.default-input-wrapper .default-input-title {
  pointer-events: none;
  padding-left: 12px;
  padding-right: 12px;
  cursor: text;
  z-index: 10;
  text-align: right !important;
  position: absolute;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 21px;
  line-height: 100%;
  transform: translateY(-50%);
  @apply font-normal;
  font-size: 13px;
  transition:
    top 0.2s ease,
    color 0.2s ease,
    font-size 0.2s ease;
}

/* ---------- ---------- ---------- */
/* ---------- Move Title ---------- */
.default-input-wrapper > input:focus + .default-input-title,
.default-input-wrapper > input.dirty + .default-input-title,
.default-input-wrapper > input:not(:placeholder-shown) + .default-input-title {
  top: 0.75rem;
  font-size: 0.75rem;
}
/* ---------- ---------- ---------- */

/** ---------- Select Styles ---------- **/
/* ---------- Select's Input ---------- */
.select-not-valid .filter__control{
  @apply !border-rose-500/50 border;
}
.filter__control {
  @apply relative appearance-none w-full px-input outline-none !min-h-11 text-sm rounded-md bg-background/5 border-foreground/15 border backdrop-blur-[2px] transition-colors duration-300 ease-in-out;
}

.filter__control .filter__value-container {
  @apply pt-3;
}
/* ---------- Handle title movement both on select and calendar types ---------- */
.has-value > .default-input-title {
  top: 11px;
  font-size: 11px;
}
/* ---------- ------------- ---------- */
/* ---------- Select's Menu ---------- */
.filter__menu {
  @apply bg-background/5 backdrop-blur-xl z-20 px-1 border rounded-md mt-1;
}
.filter__menu-portal {
  z-index: 200!important;
}

.filter__option {
  @apply my-1 rounded-md !text-xs text-foreground/70 font-light px-2.5 py-1.5;
}

.filter__option--is-selected {
  @apply bg-foreground/5 text-foreground/80;
}
.filter__option--is-focused {
  @apply bg-foreground/10;
}
/* ---------- -------------- ---------- */

/** ---------- Loading Styles ---------- **/
.default-input-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--input-height);
  text-align: center;
  align-content: center;
  border-radius: var(--input-border-radius);
  overflow: hidden;
}

.default-input-loading:after {
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: var(--input-height);
  position: absolute;
  z-index: 1;
  animation: slide 1.5s infinite ease-in-out;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.4)),
    color-stop(99%, rgba(128, 186, 232, 0)),
    color-stop(100%, rgba(125, 185, 232, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}
@keyframes slide {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(200%);
  }
}

.af {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  align-content: center;
  width: 40px;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
  border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
  background-color: var(--input-coler-focus);
}

.default-input-wrapper > textarea {
  @apply relative appearance-none w-full px-input outline-none h-20 min-h-11 pt-4 text-sm rounded-md bg-background/5 border-foreground/15 border max-h-36 backdrop-blur-[2px] transition-colors duration-300 ease-in-out;
}

.default-input-wrapper > textarea:hover {
  @apply bg-foreground/5;
}

.default-input-wrapper > textarea:focus,
.date-container > textarea:focus {
  @apply bg-foreground/5 border-opacity-25;
}

.default-input-wrapper > textarea:focus + .default-input-title,
.default-input-wrapper > textarea.dirty + .default-input-title,
.default-input-wrapper
  > textarea:not(:placeholder-shown)
  + .default-input-title {
  top: 0.75rem;
  font-size: 0.75rem;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
