.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex !important;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.toggle-password-visibility{
  position: absolute;
  left: 12px;
  top: 11px;
  cursor: pointer;
}