.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex !important;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.toggle-password-visibility {
  position: absolute;
  left: 12px;
  top: 11px;
  cursor: pointer;
}


.inside-wrapper {
  width: 100%;
  -webkit-box-shadow: 60px 0px 119px -39px rgba(75, 82, 163, 1);
  -moz-box-shadow: 60px 0px 119px -39px rgba(75, 82, 163, 1);
  box-shadow: 60px 0px 119px -39px rgba(75, 82, 163, 1);
}



.validation{
  background-color: orangered;
  padding: 6px;
  color: white;
  border-radius: 6px;
  margin-top: 5px;
}