.input-date{
    min-width: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    text-align: center;
    caret-color: #ffffff00;
}
.w-4ch{
    width: 4ch;
}
.w-2ch{
    width: 2ch;
}
.container{
    display: flex;
    justify-content: start;
}
.input-date:focus{
    background-color: Highlight;
    color: HighlightText;
    -webkit-tap-highlight-color: Highlight;
}
::selection {
    background-color: red;
    color: white;
}

/* For Firefox */
::-moz-selection {
    background-color: red;
    color: white;
}